<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WIATest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WIATest.Properties.Settings>
            <setting name="SavePath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="ImageFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectScanner" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunAsProcess" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartAfterBoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SecondKey" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="FileExtension" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>False</value>
            </setting>
        </WIATest.Properties.Settings>
    </userSettings>
</configuration>